<main>
    <h1>Productos</h1>
</main>

{{#each products}}
    <div>
                <p>ID:{{this.id}}</p>
                <p>Titulo:{{this.title}}</p>
                <p>Descripcion:{{this.description}}</p>
                <p>Precio:{{this.price}}</p>
                <p>status:{{this.status}}</p>
                <p>code:{{this.code}}</p>
                <p>stock:{{this.stock}}</p>
    </div>

{{/each}}